article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
    display: block;
}

.page-section {
    padding: 8rem 0;
}

.bg-primary {
    background-color: rgb(151, 109, 54)!important;
}

/* Default to hide the video on all devices */
#video {
    display: none
}

/* Default to display the image on all devices */
#videosubstitute {
    display: block;
    width: auto;
    height: 100%;
}

html,
body {
    height: 100%;
    margin: 0;
}

#fullScreenDiv {
    width: 100%;
    min-height: 100%;
    /* Set the height to match that of the viewport. */
    height: 100vh;
    width: auto;
    padding: 0 !important;
    margin: 0 !important;
    background-color: gray;
    position: relative;
}

#video {
    width: 100vw;
    height: auto;
    object-fit: cover;
    left: 0px;
    top: 0px;
    z-index: 1;
}

/* The container for our text and stuff */
#messageBox {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}